@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* *{
  outline: 1px solid red;
} */

body {
  font-family: Roboto;
}

*{
  color: #1D2434;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

.archivo {
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* %%%%%%%%%%%%%%%%%%%%%%% HEADER SECTION %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.navs {
  position: relative;
  cursor: pointer;
}

.navs::before {
  content: "";
  position: absolute;
  top: 24px;
  height: 2px;
  opacity: 0;
  width: 100%;
  background-image: linear-gradient(
    to right,
    transparent 2%,
    #f1ff00,
    #ffd300,
    #ffa61f,
    #ff7a42,
    #ff545c,
    #f6396b,
    #e61c7b,
    #d1008b,
    #c5009d,
    #b100b2,
    #9000c8,
    #5613e0
  );
  z-index: -1;
}

.navs:hover::before {
  animation: navCol 1s ease forwards;
}

@keyframes navCol {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

/* %%%%%%%%%%%%%%%%%%%%% HERO SECTION %%%%%%%%%%%%%%%%%%%%%%%% */

.heroHead {
  font-weight: bold;
  background-image: linear-gradient(to right, #3370FB, #5E58FB , #8840FB);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hireTalent {
  position: relative;
  border-radius: 12px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.hireTalent::after,
.hireTalent::before {
  content: "";
  position: absolute;
  height: 109%;
  width: 104%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 75%,
    #8B42F6,
    #8B42F6,
    #BD63A3,
    #BD63A3,
    #fb8b40,
    #fb8b40
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 12px;
  
  opacity: 0;
}

.hireTalent::before,
.hireTalentafter {
  opacity: 100;
  animation: spin 3s linear infinite;
  animation-delay: -2s;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* %%%%%%%%%%%%%%%%% WHAT WE DO DIFFERENTLY SECTION %%%%%%%%%%%%%%%%%%%%%%% */

.thCard {
  position: relative;
  background-color: white;
}

.thCard::before {
  content: "";
  position: absolute;
  height: 101.3%;
  width: 101%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  background-image: conic-gradient(
    from -80deg,
    #FB8B40,
    #8840FB,
    #FB8B40
  );
  border-radius: 18px;
}

.thHr {
  background: linear-gradient(
    to left,
    #3370FB,
    #8840FB,
    #FB8B40
  );
}


/* %%%%%%%%%%%%%%%%%%%%%% OUR SERVICE SECTION %%%%%%%%%%%%%%%%%%%%%%%%%%% */

.serviceCard {
  position: relative;
  background-color: white;
}

.serviceCard::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  z-index: -1;
  background-image: conic-gradient(from -90deg, #FB8B40, #8840FB, #FB8B40);
}

.learnMore:hover img {
  transform: translateX(10px);
  transition: 0.5s ease;
}

.coverCard {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/* %%%%%%%%%%%%%%%%%%%%%%%% FOR IT STARTUPS MNCS SECTION %%%%%%%%%%%%%%%%%%%%%%%% */

.rotateBall {
  animation: rotate 2s linear infinite;
  transform-origin: center center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* %%%%%%%%%%%%%%%%%%%%%%%% TIMELINE SECTION %%%%%%%%%%%%%%%%%%%%%%%% */

.ball,
.line {
  transition: opacity 0.3s ease-in-out;
}

/* %%%%%%%%%%%%%%%%%%%%% TESTIMONIAL SECTION %%%%%%%%%%%%%%%%%%%%%%%% */

.testimonialCard {
  position: relative;
}

.bordergradient {
  transition:  all 0.5s ease;;
}


.gradientBorder {
  background-image: conic-gradient(
    from var(--angle), #FB8B40 30%, #8840FB, #FB8B40);
  animation: spin 2s infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}

.bordergradient {
  position: absolute;
  opacity: 0.9;
}
/* 
.bordergradient:nth-child(1) {
  top: -70px;
  left: -22.8vw;
  transform: rotateZ(-3deg);
}

.bordergradient:nth-child(2) {
  top: -13.4vw;
  left: -3.1vw;
  transform: rotateZ(-8deg);
  z-index: 80;
}

.bordergradient:nth-child(3) {
  top: -110px;
  left: 21.8vw;
  transform: rotateZ(19deg);
}

.bordergradient:nth-child(4) {
  left: -14.8vw;
  top: 60px;
  z-index: 60;
}

.bordergradient:nth-child(5) {
  top: 70px;
  left: 8.5vw;
  transform: rotateZ(11deg);
  z-index: 70;
}

.bordergradient:nth-child(6) {
  top: 110px;
  left: 17.9vw;
  transform: rotateZ(2deg);
  z-index: 50;
} */

/* .testimonialsContainer:hover .bordergradient:nth-child(1) {
  top: -100px;
  left: -28.4vw;
  transform: rotate(0deg);
}


.testimonialsContainer:hover .bordergradient:nth-child(2) {
  left: 0;
  top: -140px;
  transform: rotate(0deg);
}

.testimonialsContainer:hover .bordergradient:nth-child(3) {
  left: 28.4vw;
  top: -113px;
  transform: rotate(0deg);
}

.testimonialsContainer:hover .bordergradient:nth-child(4) {
  top: 168px;
  left: -28.4vw;
  transform: rotate(0deg);
}

.testimonialsContainer:hover .bordergradient:nth-child(5) {
  left: 0;
  top: 150px;
  transform: rotate(0deg);
}

.testimonialsContainer:hover .bordergradient:nth-child(6) {
  left: 28.4vw;
  top: 180px;
  transform: rotate(0deg);
} */

/* %%%%%%%%%%%%%%%%%%%%%%% OUR MODELS SECTION %%%%%%%%%%%%%%%%%%%%%%%%% */

/* .ourModelsBlack,
.ourModelsWhite {
  transition: all 0.2s ease;
} */

.ourModelsBlack {
  background-color: black;
}

.ourModelsBlack h1,
.ourModelsBlack h4 {
  color: white;
}

.ourModelsBlack button {
  color: black;
  background-color: white;
}

.ourModelsWhite {
  background: white;
  /* background: linear-gradient(to bottom, #e0dff8 50%, white 100%); */
}

.ourModelsWhite h1,
.ourModelsWhite h4 {
  color: black;
}

.ourModelsWhite button {
  color: white;
  background-color: black;
}

/* %%%%%%%%%%%%%%%%%%%%%%% FAQ SECTION %%%%%%%%%%%%%%%%%%%%%%% */

.faqBorder {
  background-color: #e6f0ff;
  transition: all 0.4s ease;
}

/* .faqBorder:hover {
  background-image: linear-gradient(to right, #fb8b40, #8840fb);
} */
.faqactive {
  background-image: linear-gradient(to right, #fb8b40, #8840fb);
}

/* %%%%%%%%%%%%%%%%%%%%%%% CONTACT US SECTION %%%%%%%%%%%%%%%%%%%%%%% */

.contactForm {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.contactButton{
  position: relative;
}



.contactButton::before{
  content: '';
  height: 107%;
  width: 104%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  background-image: conic-gradient(from var(--angle), #8840FB, #FB8B40, #FB8B40, #8840FB);
}

.animate-contactButton::before{
  background-image: conic-gradient(from var(--angle),transparent 75%,  #FB8B40, #FB8B40, #8840FB );
  animation: spin 1.5s linear infinite;
  animation-delay: -200s;
}

@keyframes crossLeft {
  0% {
    transform: translateY(0px);
    transform: rotate(0deg);
    opacity: 100%;
  }
  30% {
    transform: translateY(7px) rotate(0deg);
    opacity: 30%;
  }
  100% {
    transform: translateY(6px) rotate(-45deg);
    transform-origin: center;
    opacity: 100%;
  }
}

@keyframes crossRight {
  0% {
    transform: translateY(0px);
    transform: rotate(0deg);
    opacity: 100%;
  }
  30% {
    transform: translateY(-7px) rotate(0deg);
    opacity: 30%;
  }
  100% {
    transform: translateY(-8px) rotate(45deg);
    transform-origin: center;
    opacity: 100%;
  }
}

@keyframes crossLeftReverse {
  0% {
    transform: translateY(6px) rotate(-45deg);
    transform-origin: center;
    opacity: 100%;
  }
  30% {
    transform: translateY(7px) rotate(0deg);
    opacity: 10%;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 100%;
  }
}

@keyframes crossRightReverse {
  0% {
    transform: translateY(-8px) rotate(45deg);
    transform-origin: center;
    opacity: 100%;
  }
  30% {
    transform: translateY(-7px) rotate(0deg);
    opacity: 10%;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 100%;
  }
}

.animate-crossLeft {
  animation: crossLeft 0.5s ease forwards;
}

.animate-crossRight {
  animation: crossRight 0.5s ease forwards;
}

.animate-crossLeftReverse {
  animation: crossLeftReverse 0.5s ease forwards;
}

.animate-crossRightReverse {
  animation: crossRightReverse 0.5s ease forwards;
}
